# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
env/
venv/
.venv/

# Django specific
db.sqlite3
*.sqlite3

# Pytest cache
.pytest_cache/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Docker-specific
docker-compose.override.yml

